<div style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
    <PixelContainer Items=@Pixels PixelSize=@PixelSize ChangeSaturation=@ModifySaturation Render=@PCRender />
    <div style="display:grid;grid-template-columns:min-content;width:auto;">
        <div style="display:grid;grid-template-columns:min-content auto;width:auto;">
            <label style="grid-area: 1/1/1/3;background-color:darkgray;">Granularity</label>
            <input style="grid-area: 2/1/2/2;" type="text" max="30" min="1" size="2" bind="@Grain" />
            <input style="grid-area: 2/2/2/3;" type="range" max="30" min="1" bind="@Grain" />
        </div>
        <div style="display:grid;grid-template-columns:min-content auto;width:auto;">
            <label style="grid-area: 1/1/1/3;background-color:darkgray;">Saturation</label>
            <input style="grid-area: 2/1/2/2;" type="text" max="100" min="0" size="2" bind="@Saturation" />
            <input style="grid-area: 2/2/2/3;" type="range" max="100" min="0" bind="@Saturation" />
        </div>
        <div style="display:grid;grid-template-columns:min-content auto;width:auto;">
            <label style="grid-area: 1/1/1/3;background-color:darkgray;">Pixel Size</label>
            <input style="grid-area: 2/1/2/2;" type="text" max="100" min="1" size="2" bind="@PixelSize" />
            <input style="grid-area: 2/2/2/3;" type="range" max="100" min="1" bind="@PixelSize" />
        </div>
    </div>
</div>

@functions
{
    List<Colors> Pixels
        = new List<Colors>();

    int pixelsize = 10;
    int PixelSize { get => pixelsize; set { oldwidth = value * grain; pixelsize = value; } }
    int grain = 15;
    int oldwidth = 150;
    int Grain { get => grain; set { grain = value; InvokeAsync(Refresh); } }
    int luminance = 50;
    int saturation = 50;
    int Saturation { get => saturation; set { saturation = value; Refresh(); } }
    bool PCRender = true;
    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();

        await Refresh();
    }
    async Task Refresh()
    {
        await Task.Factory.StartNew(() =>
        {
            Pixels = Enumerable.Range(0, grain + 1)
              .SelectMany(x =>
              {
                  double h = 360.0 * (double)x / (double)grain;
                  return Enumerable.Range(0, grain + 1)
                    .Select(y => new Colors((int)h, saturation, (int)(100.0 * (double)y / (double)grain), 1));
              }
              ).ToList();
        });
        pixelsize = oldwidth / grain;
        StateHasChanged();
    }
    Task ModifySaturation(UIWheelEventArgs args)
    {
        int sat = Math.Min(Math.Max(saturation + (args.DeltaY < 0 ? 5 : -5), 0), 100);
        Saturation = sat;
        return Task.CompletedTask;
    }
}

